body{ 
	background-color: #FFC0CB;
}

h1{
	font-family: Algerian, cursive; 
	color: #2096ba; 
}

h4{
	font-family: Snell Roundhand;
	color: #077a26;
}

p {
  border-style: solid;
  border-color: #87CEEB;
}

